## SQLite
- it is light weight database and supports most of the concepts of RDBMS.
- it is file based database that require zero configuration.

### file me table banana

In [2]:
import sqlite3
con=sqlite3.connect(database="E:/New folder (2)/17. SQL/6. SQLite--database/bank.sqlite")
cur=con.cursor()
cur.execute("create table pnb(pnb_acn int primary key,pnb_bal float,pnb_name text)")
con.commit()
con.close()
print("table created")

OperationalError: table pnb already exists

### jo file me table banaya hai usme record insert krna

In [3]:
import sqlite3
con=sqlite3.connect(database="E:/New folder (2)/17. SQL/6. SQLite--database/bank.sqlite")
cur=con.cursor()
acn=int(input("enter acn:"))
bal=float(input("enter bal:"))
name=input("enter name:")

cur.execute("insert into pnb values(?,?,?)",(acn,bal,name))
con.commit()
con.close()
print("acn open successfully")

enter acn: 4
enter bal: 256
enter name: either

acn open successfully

### select query chalana aur records ko dekhne ke liye

In [4]:
import sqlite3
con=sqlite3.connect(database="E:/New folder (2)/17. SQL/6. SQLite--database/bank.sqlite")
cur=con.cursor()

cur.execute("select * from pnb")
print(cur.fetchall())


con.close()

[(1, 50000.0, 'rishav'), (2, 40000.0, 'karan'), (3, 65456.0, 'rehan'), (4, 256.0, 'either')]

## GUI ke sath connectivity

In [5]:
import sqlite3
from tkinter import *

win=Tk()
win.geometry("500x400")
win.configure(bg="green")

def checkacn():
    acn=entry.get()
    con=sqlite3.connect(database="E:/New folder (2)/17. SQL/6. SQLite--database/bank.sqlite")
    cur=con.cursor()
    cur.execute("select * from pnb where pnb_acn=?",(acn,))
    row=cur.fetchone()
    if (row==None):
        reslbl.configure(text='acn does no exist',fg='red')
    else:
        
        reslbl.configure(text=f'Name:{row[2]}\nBal:{row[1]}',fg='blue')
    con.close()

label=Label(win,text='ACN',font=('arial',20),bg="green")
label.place(x=130,y=50)

entry=Entry(win,font=('arial,90'),bd=5)
entry.place(x=130,y=90)

btn=Button(win,font=('arial',19),bd=5,text="search",command=checkacn)
btn.place(x=250,y=140)

reslbl=Label(win,text="",font=('arial',20,'bold'),bg='green')
reslbl.place(x=100,y=200)
win.mainloop()

### without file address

In [6]:
import sqlite3
con=sqlite3.connect(database="bank.sqlite")
cur=con.cursor()
cur.execute("create table pnb(pnb_acn int primary key,pnb_bal float,pnb_name text)")
con.commit()
con.close()
print("table created")

OperationalError: table pnb already exists

In [9]:
import sqlite3
con=sqlite3.connect(database="bank.sqlite")
cur=con.cursor()
acn=int(input("enter acn:"))
bal=float(input("enter bal:"))
name=input("enter name:")

cur.execute("insert into pnb values(?,?,?)",(acn,bal,name))
con.commit()
con.close()
print("acn open successfully")

enter acn: 111
enter bal: 6000
enter name: c

acn open successfully

In [15]:
import sqlite3
from tkinter import *

win=Tk()
win.geometry("500x400")
win.configure(bg="green")

def checkacn():
    acn=entry.get()
    con=sqlite3.connect(database="bank.sqlite")
    cur=con.cursor()
    cur.execute("select * from pnb where pnb_acn=?",(acn,))
    row=cur.fetchone()
    if (row==None):
        reslbl.configure(text='acn does no exist',fg='red')
    else:
        
        reslbl.configure(text=f'Name:{row[2]}\nBal:{row[1]}',fg='blue')
    con.close()

label=Label(win,text='ACN',font=('arial',20),bg="green")
label.place(x=130,y=50)

entry=Entry(win,font=('arial,90'),bd=5)
entry.place(x=130,y=90)

btn=Button(win,font=('arial',19),bd=5,text="search",command=checkacn)
btn.place(x=250,y=140)

reslbl=Label(win,text="",font=('arial',20,'bold'),bg='green')
reslbl.place(x=100,y=200)
win.mainloop()

In [13]:
import sqlite3
con=sqlite3.connect(database="bank.sqlite")
cur=con.cursor()

cur.execute("select * from pnb")
print(cur.fetchall())


con.close()

[(1, 50000.0, 'rishav'), (2, 40000.0, 'karan'), (3, 65456.0, 'rehan'), (4, 256.0, 'either'), (123, 2000.0, 'a'), (122, 5000.0, 'b'), (111, 6000.0, 'c')]

### Download db brower for sqlite