### **BROADCASTING**

In [4]:
import numpy as np
import random

In [5]:
a=np.random.randint(1,20,15)
print(a)

[ 3 18 18 18  5  9 18 16 13 13  9 14 17 18 11]

- **square function**

In [7]:
b=np.square(a)   #return sqr of each element as new array
print(b)

[  9 324 324 324  25  81 324 256 169 169  81 196 289 324 121]

- **sqrt function**

In [10]:
c=np.sqrt(b)          #by default float krta hai.
print(c)

[ 3. 18. 18. 18.  5.  9. 18. 16. 13. 13.  9. 14. 17. 18. 11.]

- **log function**

In [11]:
d=np.log(c)     #return natural log(base e) of each element as new array
print(d)

[1.09861229 2.89037176 2.89037176 2.89037176 1.60943791 2.19722458
 2.89037176 2.77258872 2.56494936 2.56494936 2.19722458 2.63905733
 2.83321334 2.89037176 2.39789527]

- **sum function**

In [12]:
e=np.sum(d)
print(e)

37.32701152888817

- **kisi do array ko plus krna ho to**

In [18]:
a=np.random.randint(1,10,10)
print(a)

b=np.random.randint(1,10,10)
print(b)

[8 3 8 3 2 6 4 2 3 7]
[7 7 6 2 8 6 2 6 4 5]

In [19]:
c=a+b      #add two array element wise and returns result as new array
print(c)

[15 10 14  5 10 12  6  8  7 12]

In [20]:
a=np.random.randint(1,10,12)
print(a)

b=np.random.randint(1,10,10)
print(b)

[6 7 4 4 1 5 7 6 9 3 1 6]
[7 8 7 4 3 9 7 7 6 5]

In [21]:
c=a+b      #add two array element wise and returns result as new array
print(c)

ValueError: operands could not be broadcast together with shapes (12,) (10,)

- **Kisi file se data ko lana broadcasting krna.**

In [30]:
f=np.loadtxt("E:\\New folder (2)\\20. Statistics & Analytics\\2. numpy- numeric python\\TEXT.txt",delimiter=',',dtype='int16')
print(f)

[ 12  21  35  25  45  98  65  25 233 222 111 444 555 555]

In [35]:
g=np.loadtxt("E:\\New folder (2)\\20. Statistics & Analytics\\2. numpy- numeric python\\TEXT2.txt")
print(g)                                         #control character 'delimiter' cannot be a newline (`\r` or `\n`)

[ 12.  21.  35.  25.  45.  98.  65.  25. 233. 222. 111. 444. 555. 555.]

- **statistics wale - sum,max,min,mean,mode,median** -----numpy ke funciton list ke sath bhi comfortable hote hai

In [36]:
a=np.random.randint(10000,100000,10)
print(a)

[80618 56971 16384 99726 81924 63543 60982 37983 33336 27795]

In [42]:
print(np.sum(a))
print(np.max(a))
print(np.min(a))
print(np.mean(a))
#print(np.mode(a))            #module 'numpy' has no attribute 'mode'
print(np.median(a))

559262
99726
16384
55926.2
58976.5

In [43]:
x=[5,6,5]
print(np.sum(x))
print(np.max(x))
print(np.min(x))
print(np.mean(x))
#print(np.mode(x))            #module 'numpy' has no attribute 'mode'
print(np.median(x))

16
6
5
5.333333333333333
5.0

- **statistics wale - sum,max,min,mean,mode,median**-------**inke index ko batana**

In [47]:
print(np.argmax(a))     #return index of max element
print(np.argmin(a))     #return index of min element

3
2

## **Array indexing and slicing**
- **index number se value ko find kr skte hai.**
- there are two types of array slicing
    - 1. index based
    - 2. boolean/condition based

In [49]:
a=np.random.randint(10000,100000,10)
print(a)
print(a[2])             #index number se us value ka pata lagaya ja skta hai.
print(a[5])

[55531 63920 51209 74658 55832 76338 96386 78422 30820 86534]
51209
76338

In [51]:
a[::1]
print(a)

[55531 63920 51209 74658 55832 76338 96386 78422 30820 86534]

In [52]:
a[2::-1]

array([51209, 63920, 55531])

In [53]:
a[::]

array([55531, 63920, 51209, 74658, 55832, 76338, 96386, 78422, 30820,
       86534])

In [56]:
print(a[a>=60000])    #returns elements that satisfy given condition
print(np.where(a>=60000))      #returns index of elements that satisfy given condition

[63920 74658 76338 96386 78422 86534]
(array([1, 3, 5, 6, 7, 9], dtype=int64),)

- **do condition ka use krne per**-----------with **and(&)** ----**or(|)** condition

In [60]:
print(a[(a>=20000) & (a<=60000)])     #yha and condition ke liye byts wise & ka use kiya jata hai

[55531 51209 55832 30820]

In [62]:
print(a[(a>=20000) | (a<=60000)])     #yha or condition ke liye byts wise | ka use kiya jata hai

[55531 63920 51209 74658 55832 76338 96386 78422 30820 86534]

In [64]:
print(a[(a>=50000) | (a%2==0)])     #yha or condition ke liye byts wise | ka use kiya jata hai

[55531 63920 51209 74658 55832 76338 96386 78422 30820 86534]

### **Scaller--->koi value integer, float, string, boolean**
    - numpy array me sirf 2D matrix wala hi support hota hai.
- aisa  2D array jiske ander array ho aur, har element same size ke ho -----------use **2 diamential** array khte hai.-------aur **matrix** khte hai.
- aisa array jiske ander scaller ho **one diamential** array khte hai--------aur ise hum **vector** khte hai.
- aisa 2D array jiske ander array ho aur, har element alag alag ho use **jagged** khte hai.

- **SIR KI DI GAI HU DEFINATION**---(General definition of Array)
- An Array is a sequence of (n-1) dim arrays
- LIKE:
    - 1d array is a seq of 0d arrays **scalar values(int/float/str/boolean)**
    - 2d array is a seq of 1d arrays
    - 3d array is a seq of 1d arrays
    - 4d array is a seq of 3d arrays
    - .
    - .
- **NOTE**
    -  **1d array in numpy is know as vector**
    -  **2d array in numpy is know as matrix**

#### 1. **zeros function**

In [70]:
a=np.zeros((3,4))
print(a)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [71]:
a[0]=255
a[-1]=254      #single indexing krne pe puri ki puri row print ho ja rhi hai jaise [254. 254. 254. 254.]
print(a)

[[255. 255. 255. 255.]
 [  0.   0.   0.   0.]
 [254. 254. 254. 254.]]

#### 2. **ones function**

In [79]:
a=np.ones((5,5))
print(a)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [80]:
a[1][0]=500
a[0][3]=900
a[3]=60           #single indexing krne pe puri ki puri row print ho ja rhi hai jaise [ 60.  60.  60.  60.  60.]
a[-1][-3]=35
print(a)

[[  1.   1.   1. 900.   1.]
 [500.   1.   1.   1.   1.]
 [  1.   1.   1.   1.   1.]
 [ 60.  60.  60.  60.  60.]
 [  1.   1.  35.   1.   1.]]

#### 3. **full function**

In [84]:
a=np.full((3,4),500)       #(row,column),initial value
print(a)

[[500 500 500 500]
 [500 500 500 500]
 [500 500 500 500]]

In [86]:
a[0]=300
a[-2][1]=1000
print(a)

[[ 300  300  300  300]
 [ 500 1000  500  500]
 [ 500  500  500  500]]

#### 4. **random.randint**

In [90]:
a=np.random.randint(1000,2000,(5,4))          #low,high,(row,column)
print(a)

[[1635 1773 1321 1016]
 [1701 1107 1887 1978]
 [1159 1039 1884 1908]
 [1276 1274 1556 1651]
 [1635 1656 1636 1770]]

#### 5. **eye function**-------jiska main diagonal one hota hai.

In [93]:
a=np.eye(5,3)
print(a)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [95]:
a=np.eye(5,dtype='int8')
print(a)

[[1 0 0 0 0]
 [0 1 0 0 0]
 [0 0 1 0 0]
 [0 0 0 1 0]
 [0 0 0 0 1]]

In [96]:
a=np.eye(5)
print(a)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

#### 6. **Transpose function**------------>ye ek matrix ke row aur column ko change kr ke **row ko column me** aur **columns ko row me** convert kr deta hai.

In [99]:
a=np.random.randint(1,20,(5,4))
print(a)

[[ 1  4 17 10]
 [ 9  1 19  5]
 [ 1  6  3  5]
 [ 4  8  4 15]
 [12  4  6  6]]

In [100]:
b=np.transpose(a)
print(b)

[[ 1  9  1  4 12]
 [ 4  1  6  8  4]
 [17 19  3  4  6]
 [10  5  5 15  6]]

#### **Terminology related to numpy array**
- function-------->**np.funname(array)**
- method---------->**array.methodname()**
- property-------->**array.property**

In [101]:
#property --------->ndim
print(a.ndim)-------------->ndim property batata hai ki ye kon se diametial hai

2

In [102]:
#shape property hume row aur columns batati hai.
print(b.shape)

(4, 5)

In [103]:
#size property hume total elements batati hai ek D
print(a.size)

20

In [104]:
#dtype property element ke type batati hai.
print(a.dtype)

int32

In [106]:
print(len(a))   #ye column wise batata hai.

5