In [1]:
class emp:
    def __init__(self,i,n,s):
        self.empid=i
        self.name=n
        self.sal=s
        
    def __str__(self):
        return "hello"
        
e1=emp(101,"rishav",50000)
e2=emp(102,"rehan",42220)
e3=emp(103,"ritu",6200)

print(e1)
print(e2)
print(e3)

hello
hello
hello

### **_ _ str _ _(self)** method

In [2]:
class emp:
    def __init__(self,i,n,s):
        self.empid=i
        self.name=n
        self.sal=s
        
    def __str__(self):
        return str((self.empid,self.name,self.sal))
        
e1=emp(101,"rishav",50000)
e2=emp(102,"rehan",42220)
e3=emp(103,"ritu",6200)

print(e1)
print(e2)
print(e3)

(101, 'rishav', 50000)
(102, 'rehan', 42220)
(103, 'ritu', 6200)

### kya e1,e2,e3 ko sorting kiya ja skta hai.

In [3]:
x=[e1,e2,e3]
print(x)

[<__main__.emp object at 0x0000016BB24661D0>, <__main__.emp object at 0x0000016BB2466E00>, <__main__.emp object at 0x0000016BB2466EF0>]

### **_ _ repr _ _(self)** method

In [4]:
class emp:
    def __init__(self,i,n,s):
        self.empid=i
        self.name=n
        self.sal=s
        
    def __str__(self):
        return str((self.empid,self.name,self.sal))
    
    def __repr__(self):
        return str((self.empid,self.name,self.sal))
        
e1=emp(101,"rishav",50000)
e2=emp(102,"rehan",42220)
e3=emp(103,"ritu",6200)

print(e1)
print(e2)
print(e3)

x=[e1,e2,e3]
print(x)

(101, 'rishav', 50000)
(102, 'rehan', 42220)
(103, 'ritu', 6200)
[(101, 'rishav', 50000), (102, 'rehan', 42220), (103, 'ritu', 6200)]

### **List me ek aur element add krne per kya hoga** ydi data me same same ho jb kya hoga

In [5]:
e4=emp(101,"rishav",50000)
print(e1 in x)
print(e4 in x)

True
False

In [6]:
s={e1,e2,e3,e4}
print(s)

{(101, 'rishav', 50000), (101, 'rishav', 50000), (102, 'rehan', 42220), (103, 'ritu', 6200)}

### ydi do data member same hai to use alag krne ke liye kya kare

### **_ _ eq _ _(self,other)** method

In [7]:
class emp:
    def __init__(self,i,n,s):
        self.empid=i
        self.name=n
        self.sal=s
        
    def __str__(self):
        return str((self.empid,self.name,self.sal))
    
    def __repr__(self):
        return str((self.empid,self.name,self.sal))
    
    def __eq__(self,other):
        if(self.name==other.name and self.empid==other.empid and self.sal==other.sal):
            return True
        else:
            return False
        
e1=emp(101,"rishav",50000)
e2=emp(102,"rehan",42220)
e3=emp(103,"ritu",6200)

print(e1)
print(e2)
print(e3)

x=[e1,e2,e3]
print(x)

(101, 'rishav', 50000)
(102, 'rehan', 42220)
(103, 'ritu', 6200)
[(101, 'rishav', 50000), (102, 'rehan', 42220), (103, 'ritu', 6200)]

In [8]:
e4=emp(101,"rishav",50000)
print(e1 in x)
print(e4 in x)
print(x)

True
True
[(101, 'rishav', 50000), (102, 'rehan', 42220), (103, 'ritu', 6200)]

### **hashing** ----> **_ _ hash _ _(self)** --------->set me likhne per

In [9]:
class emp:
    def __init__(self,i,n,s):
        self.empid=i
        self.name=n
        self.sal=s
        
    def __str__(self):
        return str((self.empid,self.name,self.sal))
    
    def __repr__(self):
        return str((self.empid,self.name,self.sal))
    
    def __eq__(self,other):
        if(self.name==other.name and self.empid==other.empid and self.sal==other.sal):
            return True
        else:
            return False
        
    def __hash__(self):
        return self.empid+self.sal+e1.name.__hash__()
        
e1=emp(101,"rishav",50000)
e2=emp(102,"rehan",42220)
e3=emp(103,"ritu",6200)

print(e1)
print(e2)
print(e3)

x=[e1,e2,e3]
print(x)

(101, 'rishav', 50000)
(102, 'rehan', 42220)
(103, 'ritu', 6200)
[(101, 'rishav', 50000), (102, 'rehan', 42220), (103, 'ritu', 6200)]

In [10]:
e4=emp(101,"rishav",50000)
print(e1 in x)
print(e4 in x)
print(x)

True
True
[(101, 'rishav', 50000), (102, 'rehan', 42220), (103, 'ritu', 6200)]

In [11]:
s={e1,e2,e3,e4}
print(s)

{(101, 'rishav', 50000), (103, 'ritu', 6200), (102, 'rehan', 42220)}

## Note: eq and hash method dono humesha likhna chaiye

### **_ _ sorted _ _ ()**

In [14]:
x=[e1,e2,e3]
def idsort(e):
    return e.empid

sorted(x,key=idsort)

[(101, 'rishav', 50000), (102, 'rehan', 42220), (103, 'ritu', 6200)]

In [16]:
sorted(x,key=lambda e:e.sal)

[(103, 'ritu', 6200), (102, 'rehan', 42220), (101, 'rishav', 50000)]

In [17]:
sorted(x,key=lambda e:e.empid)

[(101, 'rishav', 50000), (102, 'rehan', 42220), (103, 'ritu', 6200)]

In [18]:
sorted(x,key=lambda e:e.name)

[(102, 'rehan', 42220), (101, 'rishav', 50000), (103, 'ritu', 6200)]

### ydi sorted method ko reverse karna pade to , last me **reverse=True** likhne per reverse ho jata hai.

In [19]:
sorted(x,key=lambda e:e.empid, reverse=True)

[(103, 'ritu', 6200), (102, 'rehan', 42220), (101, 'rishav', 50000)]

In [20]:
sorted(x,key=lambda e:e.name, reverse=True)

[(103, 'ritu', 6200), (101, 'rishav', 50000), (102, 'rehan', 42220)]

In [21]:
sorted(x,key=lambda e:e.sal, reverse=True)

[(101, 'rishav', 50000), (102, 'rehan', 42220), (103, 'ritu', 6200)]