## **3. map() fucntion**
- it is high order fucntion that internally call **arg fucntion for each element of arg container (list/tuple/set/etc)**
- res=map(**fucntion,container**)
- we need to convert result of map into a container to make result readable
    - list(res)
        or
    - tuple(res)
        or
    - set(res)

### **mainual**

In [7]:
x=[1,2,3,4,5]
def sqr(num):
    return num**2
y=[]
y.append(sqr(1))
y.append(sqr(2))
y.append(sqr(3))
y.append(sqr(4))
y.append(sqr(5))
y.append(sqr(6))
print(x)
print(y)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25, 36]

### **for loop se**

In [9]:
x=[1,2,3,4,5]
def sqr(num):
    return num**2
y=[]

for i in x:
    y.append(sqr(i))
print(x)
print(y)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [10]:
x=[1,2,3,4,5,25,253,55,2,5,5]
def sqr(num):
    return num**2
y=[]

for i in x:
    y.append(sqr(i))
print(x)
print(y)

[1, 2, 3, 4, 5, 25, 253, 55, 2, 5, 5]
[1, 4, 9, 16, 25, 625, 64009, 3025, 4, 25, 25]

## **now map() se karte hai.**

In [24]:
x=[1,2,3,4,5,25,253,55,2,5,5]
def sqr(num):
    return num**2

print(x)
u=list(map(sqr,x))        #list se
v=tuple(map(sqr,x))       #tuple se
s=set(map(sqr,x))         #set se
print(u)
print(v)
print(s)

[1, 2, 3, 4, 5, 25, 253, 55, 2, 5, 5]
[1, 4, 9, 16, 25, 625, 64009, 3025, 4, 25, 25]
(1, 4, 9, 16, 25, 625, 64009, 3025, 4, 25, 25)
{1, 4, 9, 64009, 16, 625, 3025, 25}

#### map() function sirf **ek bari** hi chalta hai. use kisi me bhi convert kar jaye list me, tuple me ya phir set me.

In [25]:
x=[1,2,3,4,5,25,253,55,2,5,5]
def sqr(num):
    return num**2

print(x)
m=(map(sqr,x)) 

print(list(m))
print(tuple(m))
print(set(m))

[1, 2, 3, 4, 5, 25, 253, 55, 2, 5, 5]
[1, 4, 9, 16, 25, 625, 64009, 3025, 4, 25, 25]
()
set()

### map() function me **range fucntion** bhi use kar skte hai.

In [29]:

def sqr(num):
    return num**2


m=(map(sqr,range(1,11))) 

print(list(m))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
# ye kisi me bhi pass kiya ja skta hai. list me, tuple me , set me , range fucntion se
x=[1,2,3,4,5]
x=(1,2,3,4,5)
x={1,2,3,4,5}
x=range(1,6,1)
def sqr(num):
    return num**2

print(x)
m=(map(sqr,x)) 

print(list(m))

range(1, 6)
[1, 4, 9, 16, 25]

In [33]:
# ye kisi me bhi pass kiya ja skta hai. list me, tuple me , set me , range fucntion se
x=[1,2,3,4,5]

def sqr(num):
    return num**2

print(x)
print(list(map(sqr,x)))  #ek line me bhi nikala ja skta hai.

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

### cube

In [39]:
#cube nikale ka tarika
x=[1,2,3,4,5]

def cube(num):
    return num**3

print(x)
print(list(map(cube,x)))  #ek line me bhi nikala ja skta hai.

[1, 2, 3, 4, 5]
[1, 8, 27, 64, 125]

### uper method, len fucntion

In [40]:
n=["dhoni","viru","rohit","virat kohali"]
print(list(map(len,n)))

[5, 4, 5, 12]