### install mongo db specific driver module

In [6]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\pappu kumar\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\pappu kumar\anaconda3\lib\site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

#### **import mongodb module**

In [5]:
import pymongo

#### **create connection with mongodb**

In [7]:
con=pymongo.MongoClient('localhost',27017)
print(con)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

#### **get database from con (created if does not exist)**

In [8]:
db=con['11to1230']

## CRUD
#### **get collection from db**---------------Select(Insert Document)---------This is **R**

In [15]:
col=db['Students']

docs=col.find()         #will get all documents
for doc in docs:
    print(doc)

{'_id': 1, 'Name': 'reena', 'marks': 76.7, 'Branch': 'cs'}
{'_id': 151, 'Name': 'dhoni', 'marks': 82, 'Branch': 'cs'}
{'_id': 152, 'Name': 'pant', 'marks': 38.0, 'Branch': 'civil'}
{'_id': 300, 'Name': 'ajay', 'marks': 50.0, 'Branch': 'ca'}
{'_id': 301, 'Name': 'virat', 'marks': 44.0, 'Branch': 'account'}
{'_id': 302, 'Name': 'karan', 'marks': 50.0, 'Branch': 'b.com'}
{'_id': 502, 'Name': 'karan', 'marks': 30.0, 'Branch': 'ba'}
{'_id': 503, 'Name': 'vijay', 'marks': 30.0, 'Branch': 'ec'}
{'_id': 1000, 'Name': 'vijay', 'marks': 30.0, 'Branch': 'b.tech'}
{'_id': 1003, 'Name': 'arjun', 'marks': 45.0, 'Branch': 'ca'}
{'_id': 1004, 'Name': 'rohit', 'marks': 60.0, 'Branch': 'cs'}

#### **get any perticular document**

In [16]:
col.db['Students']

docs=col.find({'Branch':'cs'})
for doc in docs:
    print(doc)

{'_id': 1, 'Name': 'reena', 'marks': 76.7, 'Branch': 'cs'}
{'_id': 151, 'Name': 'dhoni', 'marks': 82, 'Branch': 'cs'}
{'_id': 1004, 'Name': 'rohit', 'marks': 60.0, 'Branch': 'cs'}

In [18]:
col.db['Students']
keys=[]
values=[]

docs=col.find()
for doc in docs:
    keys.append(doc.keys())
    values.append(doc.values())
    
print(keys)
print(values)

[dict_keys(['_id', 'Name', 'marks', 'Branch']), dict_keys(['_id', 'Name', 'marks', 'Branch']), dict_keys(['_id', 'Name', 'marks', 'Branch']), dict_keys(['_id', 'Name', 'marks', 'Branch']), dict_keys(['_id', 'Name', 'marks', 'Branch']), dict_keys(['_id', 'Name', 'marks', 'Branch']), dict_keys(['_id', 'Name', 'marks', 'Branch']), dict_keys(['_id', 'Name', 'marks', 'Branch']), dict_keys(['_id', 'Name', 'marks', 'Branch']), dict_keys(['_id', 'Name', 'marks', 'Branch']), dict_keys(['_id', 'Name', 'marks', 'Branch'])]
[dict_values([1, 'reena', 76.7, 'cs']), dict_values([151, 'dhoni', 82, 'cs']), dict_values([152, 'pant', 38.0, 'civil']), dict_values([300, 'ajay', 50.0, 'ca']), dict_values([301, 'virat', 44.0, 'account']), dict_values([302, 'karan', 50.0, 'b.com']), dict_values([502, 'karan', 30.0, 'ba']), dict_values([503, 'vijay', 30.0, 'ec']), dict_values([1000, 'vijay', 30.0, 'b.tech']), dict_values([1003, 'arjun', 45.0, 'ca']), dict_values([1004, 'rohit', 60.0, 'cs'])]

In [23]:
for k in keys:
    print(k)
    
for v in values:
    print(v)

dict_keys(['_id', 'Name', 'marks', 'Branch'])
dict_keys(['_id', 'Name', 'marks', 'Branch'])
dict_keys(['_id', 'Name', 'marks', 'Branch'])
dict_keys(['_id', 'Name', 'marks', 'Branch'])
dict_keys(['_id', 'Name', 'marks', 'Branch'])
dict_keys(['_id', 'Name', 'marks', 'Branch'])
dict_keys(['_id', 'Name', 'marks', 'Branch'])
dict_keys(['_id', 'Name', 'marks', 'Branch'])
dict_keys(['_id', 'Name', 'marks', 'Branch'])
dict_keys(['_id', 'Name', 'marks', 'Branch'])
dict_keys(['_id', 'Name', 'marks', 'Branch'])
dict_values([1, 'reena', 76.7, 'cs'])
dict_values([151, 'dhoni', 82, 'cs'])
dict_values([152, 'pant', 38.0, 'civil'])
dict_values([300, 'ajay', 50.0, 'ca'])
dict_values([301, 'virat', 44.0, 'account'])
dict_values([302, 'karan', 50.0, 'b.com'])
dict_values([502, 'karan', 30.0, 'ba'])
dict_values([503, 'vijay', 30.0, 'ec'])
dict_values([1000, 'vijay', 30.0, 'b.tech'])
dict_values([1003, 'arjun', 45.0, 'ca'])
dict_values([1004, 'rohit', 60.0, 'cs'])

In [37]:
for k in keys[0]:
    print(k,end='\t')
print()   
for row in values:
    for v in row:
        print(v,end='\t')
    print()

_id	Name	marks	Branch
1	reena	76.7	cs
151	dhoni	82	cs
152	pant	38.0	civil
300	ajay	50.0	ca
301	virat	44.0	account
302	karan	50.0	b.com
502	karan	30.0	ba
503	vijay	30.0	ec
1000	vijay	30.0	b.tech
1003	arjun	45.0	ca
1004	rohit	60.0	cs

### **C**---------Create Document-------**Insert Document**

In [38]:
col.insert_one({"_id":2,'Name':'veer',"marks":67.2,'Branch':'civil'})

In [39]:
docs=col.find({'Branch':'civil'})
for doc in docs:
    print(doc)

{'_id': 152, 'Name': 'pant', 'marks': 38.0, 'Branch': 'civil'}
{'_id': 2, 'Name': 'veer', 'marks': 67.2, 'Branch': 'civil'}

In [40]:
con.close()

## image ko insert krna;

In [5]:
import pymongo
con=pymongo.MongoClient("localhost",27017)
db=con['11to1230']
col=db["Students"]

file=open("E:/heroin-for mongodb.jpeg","rb")
img=file.read()
file.close()

col.insert_one({"_id":5,"Name":"rita",'marks':100,'Branch':"Actor",'pic':img})
print("Document inserted")
con.close()

Document inserted

In [9]:
import pymongo
con=pymongo.MongoClient("localhost",27017)
db=con['11to1230']
col=db["Students"]

doc=col.find_one({'_id':5})
#print(doc)
img=doc['pic']
#print(img)
file=open("heroin-for mongodb.jpeg","wb")
file.write(img)
file.close()
print("image fetched and saved")
con.close()

image fetched and saved